---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Badge from '../components/Badge.astro';
---

<Layout title="Ejemplo Sebastian">

    <main class="px-4">


        <section class="w-full mx-auto lg:w-[740px] py-44">
            <div class="flex items-center mb-4">
                <img
                    class="rounded-full w-44 h-44 mr-5 shadow-lg"
                    src="https://i.pinimg.com/originals/b6/99/ea/b699ea44cbe4c1c9af918016259703aa.jpg"
                    alt="Tunnler's photo"
                >
                
                <div class="flex flex-col gap-5">

                    <div>
                        <h1 class="text-5xl font-bold">
                            Hi, I'm Sebastian 👋
                        </h1>
                        <span class=" font-semibold inline-flex animate-background-shine bg-[linear-gradient(110deg,#64748b,45%,#0f172a,55%,#64748b)] dark:bg-[linear-gradient(110deg,#b6eaff,45%,#065074,55%,#b6eaff)] bg-[length:250%_100%] bg-clip-text text-xl text-transparent">Frontend Developer & Designer UI/UX</span>
                    </div>

                    <div class="">  
                        <Badge>Looking for job</Badge>
                        <Badge>Curriculum</Badge>
                    </div>

                </div>
            </div>

            <h2 class="text-xl opacity-80 text-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, aut delectus. Cumque similique incidunt eaque atque voluptatem accusamus quae voluptates?
            </h2>



            


        </section>
    </main>

</Layout>

