---

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-600 dark:[&>p>strong]:text-purple-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="mt-4">
      Hola 👋, soy Sebastian Rivera, <strong>Desarrollador Fullstack</strong> con
      experiencia en <strong>Angular, React, AWS y Python</strong>. Apasionado
      por el
      <strong>UI/UX</strong>, busco crear soluciones funcionales y atractivas.
    </p>
    <p>
      Inicié mi carrera en <strong>HFC Tecnologías</strong>, donde desarrollé
      una app de productividad. He liderado proyectos como la automatización de
      reportes con
      <strong>AWS Lambda</strong> y el diseño de interfaces modernas.
    </p>
    <p>
      Además, realizo proyectos freelance con <strong>Coderlyst</strong>,
      enfocándome en sitios web y comercio electrónico.
    </p>
    <p>
      Estudié <strong>Computación e Informática</strong>, con especialización en
      <strong>AWS y Python</strong>, y sigo perfeccionando mis habilidades para
      ayudar a otros a alcanzar sus metas digitales.
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="https://i.pinimg.com/originals/b6/99/ea/b699ea44cbe4c1c9af918016259703aa.jpg"
    alt="Tunnler's"
    class="order-1 object-cover rounded-full size-72 shadow-lg shadow-dark-900/20 dark:shadow-dark-50/10 mx-auto"
    style="object-position: 50% 50%"
  />
</article>
