---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Agosto 2024 - Febrero 2025",
    title: "Desarrollador Fullstack",
    company: "PK Soluciones",
    description:
      "Diseñé e implementé un script Python en AWS Lambda para automatizar la generación de reportes técnicos.\nTransformé datos JSON almacenados en S3 en informes Excel estructurados con tablas dinámicas, estilos personalizados y celdas combinadas.\nImplementé integración backend/frontend utilizando DynamoDB, AWS SiteWise, Cognito y SES, mejorando la funcionalidad y seguridad de la aplicación.\nOptimisé la interfaz de usuario para hacerla más moderna y atractiva, mejorando la experiencia del usuario final.",
  },
  {
    date: "Octubre 2023 - Julio 2024",
    title: "Desarrollador Frontend",
    company: "Latam Developer",
    description:
      "Contribuí al desarrollo de una aplicación móvil utilizando Angular e Ionic, enfocándome en el frontend.\nImplementé vistas basadas en los diseños proporcionados por el equipo de diseño.\nDesarrollé y mantuve la página web asociada a la aplicación móvil, asegurando su rendimiento y usabilidad.",
  },
  {
    date: "Enero 2022 - Septiembre 2023",
    title: "Asistente TI",
    company: "HFC Tecnologías",
    description:
      "Coordiné eficientemente las operaciones de TI, asegurando la continuidad del sistema.\nDesarrollé soluciones creativas para desafíos técnicos, mejorando la eficiencia operativa.\nTrabajé en equipo para implementar actualizaciones de software y proporcionar soporte técnico integral.\nDiseñé y desarrollé una aplicación de productividad personalizada que optimizó los procesos internos del equipo.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>