---

---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/proyects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

</header>

<!-- 

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">

    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Bienvenido a esta mini prueba de Header
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Esto es un parrafo de muestra Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, et?
        </p>

        <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">

            <HeaderButton class="text-white" href="/">Inicio</HeaderButton>
            <HeaderButton class="text-white" href="/">Nosotros</HeaderButton>
            <HeaderButton class="text-white" href="/">Contacto</HeaderButton>



        </nav>
    </div>

</header>

-->
