---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto max-w-3xl px-5 mb-5 flex flex-col gap-10`}
>
  <slot />
</section>

