---
import HTML from "../logos/HTML.astro";
import CSS from "../logos/CSS.astro";
import JavaScript from "../logos/JavaScript.astro";
import React from "../logos/React.astro";
import TailwindCSS from "../logos/TailwindCSS.astro";
import TypeScript from "../logos/TypeScript.astro";
import SASS from "../logos/SASS.astro";
import Angular from "../logos/Angular.astro";
import NextJS from "../logos/NextJS.astro";
import Python from "../logos/Python.astro";
import NodeJS from "../logos/NodeJS.astro";
import SQLServer from "../logos/SQLServer.astro";
import MYSQL from "../logos/MySQL.astro";
import Php from "../logos/Php.astro";
import AWS from "../logos/AWS.astro";
import Github from "../logos/Github.astro";
import Git from "../logos/Git.astro";
import WordPress from "../logos/WordPress.astro";
import Linux from "../logos/Linux.astro";
import Figma from "../logos/Figma.astro";
import Docker from "../logos/Docker.astro";
import MicrosoftAzure from "../logos/MicrosoftAzure.astro";
import GoogleCloud from "../logos/GoogleCloud.astro";
import ChatGPT from "../logos/ChatGPT.astro";
---

<p class="my-8 text-pretty md:text-lg max-w-[740px]">
  En mi viaje por el <span class="text-purple-600 dark:text-purple-400"
    >mundo del desarrollo web</span
  >, he cultivado <span class="text-purple-600 dark:text-purple-400"
    >experiencia y habilidades</span
  > en una variedad de tecnologías. <span
    class="text-purple-600 dark:text-purple-400 font-semibold"
    >Mi stack tecnológico incluye</span
  >:
</p>

<div class="grid md:grid-cols-2 md:grid-rows-2 gap-6 md:place-content-center">
  <!-- Card 1 -->
  <div
    class="card relative overflow-hidden rounded-2xl bg-purple shadow-2xl border dark:border-neutral-900 hover:shadow-lg transition-shadow duration-300"
  >
    <!-- Light effect -->
    <div
      class="light-effect absolute w-56 h-56
      bg-gradient-to-r
      from-blue-100 to-purple-300
      dark:from-blue-950 dark:to-purple-950
      rounded-full opacity-0 blur-3xl transform
      -translate-x-1/2 -translate-y-1/2 pointer-events-none
      transition-opacity duration-300"
    >
    </div>

    <div class="p-6 relative">
      <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
      >
        Frontend
      </h3>
      <div>
        <ul class="grid grid-cols-3 gap-4">
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <HTML class="size-12 mb-2" />
            <span class="text-sm w-full text-center">HTML</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <CSS class="size-12 mb-2" />
            <span class="text-sm w-full text-center">CSS</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <JavaScript class="size-12 mb-2" />
            <span class="text-sm w-full text-center">JavaScript</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <TypeScript class="size-12 mb-2" />
            <span class="text-sm w-full text-center">TypeScript</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <React class="size-12 mb-2" />
            <span class="text-sm w-full text-center">React</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <Angular class="size-12 mb-2" />
            <span class="text-sm w-full text-center">Angular</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <NextJS class="size-12 mb-2" />
            <span class="text-sm w-full text-center">NextJS</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <TailwindCSS class="size-12 mb-2" />
            <span class="text-sm w-full text-center">TailwindCSS</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <SASS class="size-12 mb-2" />
            <span class="text-sm w-full text-center">SASS</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div
    class="card relative overflow-hidden rounded-2xl bg-purple shadow-2xl border dark:border-neutral-900 hover:shadow-lg transition-shadow duration-300"
  >
    <!-- Light effect -->
    <div
      class="light-effect absolute w-56 h-56
      bg-gradient-to-r
      from-blue-100 to-purple-300
      dark:from-blue-950 dark:to-purple-950
      rounded-full opacity-0 blur-3xl transform
      -translate-x-1/2 -translate-y-1/2 pointer-events-none
      transition-opacity duration-300"
    >
    </div>

    <div class="p-6 relative">
      <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
      >
        Backend
      </h3>
      <div>
        <ul class="grid grid-cols-3 gap-4">
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <Python class="size-12 mb-2" />
            <span class="text-sm w-full text-center">Python</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <NodeJS class="size-12 mb-2" />
            <span class="text-sm w-full text-center">NodeJS</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <Php class="size-12 mb-2" />
            <span class="text-sm w-full text-center">PHP</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <SQLServer class="size-12 mb-2" />
            <span class="text-sm w-full text-center">SQL Server</span>
          </li>
          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <MYSQL class="size-12 mb-2" />
            <span class="text-sm w-full text-center">MySQL</span>
          </li>

          <li
            class="rounded-2xl group flex flex-col justify-center items-center"
          >
            <AWS class="size-12 mb-2" />
            <span class="text-sm w-full text-center">AWS</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div
    class="card relative overflow-hidden rounded-2xl bg-purple shadow-2xl border dark:border-neutral-900 hover:shadow-lg transition-shadow duration-300"
  >
    <!-- Light effect -->
    <div
      class="light-effect absolute w-56 h-56
      bg-gradient-to-r
      from-blue-100 to-purple-300
      dark:from-blue-950 dark:to-purple-950
      rounded-full opacity-0 blur-3xl transform
      -translate-x-1/2 -translate-y-1/2 pointer-events-none
      transition-opacity duration-300"
    >
    </div>

    <div class="p-6 relative">
      <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
      >
        Aprendiendo
      </h3>
      <ul class="grid grid-cols-3 gap-4">
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <Docker class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Docker</span>
        </li>
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <MicrosoftAzure class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Microsoft Azure</span>
        </li>
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <GoogleCloud class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Google Cloud</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Card 4 -->
  <div
    class="card relative overflow-hidden rounded-2xl bg-purple shadow-2xl border dark:border-neutral-900 hover:shadow-lg transition-shadow duration-300"
  >
    <!-- Light effect -->
    <div
      class="light-effect absolute w-56 h-56
      bg-gradient-to-r
      from-blue-100 to-purple-300
      dark:from-blue-950 dark:to-purple-950
      rounded-full opacity-0 blur-3xl transform
      -translate-x-1/2 -translate-y-1/2 pointer-events-none
      transition-opacity duration-300"
    >
    </div>

    <div class="p-6 relative">
      <h3
        class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
      >
        Herramientas
      </h3>
      <ul class="grid grid-cols-3 gap-4">
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <Git class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Git</span>
        </li>
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <Github class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Github</span>
        </li>

        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <WordPress class="size-12 mb-2" />
          <span class="text-sm w-full text-center">WordPress</span>
        </li>

        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <Linux class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Linux</span>
        </li>
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <Figma class="size-12 mb-2" />
          <span class="text-sm w-full text-center">Figma</span>
        </li>
        <li class="rounded-2xl group flex flex-col justify-center items-center">
          <ChatGPT class="size-12 mb-2" />
          <span class="text-sm w-full text-center">ChatGPT</span>
        </li>
      </ul>
    </div>
  </div>

  <script>
    document.querySelectorAll(".card").forEach((card) => {
      const lightEffect = card.querySelector(".light-effect");

      card.addEventListener("mousemove", (e: MouseEvent) => {
        const rect = card.getBoundingClientRect();
        const x = e.clientX - rect.left; // Posición X relativa al card
        const y = e.clientY - rect.top; // Posición Y relativa al card

        const lightEffect = card.querySelector(".light-effect") as HTMLElement;
        lightEffect.style.left = `${x}px`;
        lightEffect.style.top = `${y}px`;
        lightEffect.style.opacity = "0.8"; // Hacer visible el efecto
      });

      card.addEventListener("mouseleave", () => {
        const lightEffect = card.querySelector(".light-effect") as HTMLElement;
        lightEffect.style.opacity = "0"; // Ocultar el efecto al salir
      });
    });
  </script>
</div>
